.about {
  padding: 0 0.8rem;

  &__heading {
    margin: 1.2rem 0 2.5rem 0;
  }

  &__logo {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    margin-top: 0.3rem;

    img {
      height: 5rem;
      padding: 0.5rem;
      border: 1px solid $bg-color;
      border-radius: 50%;
    }

    &--name {
      h3 {
        margin-bottom: 0.2rem;
      }

      p {
        font-size: 1.2rem;
        color: $text-light;
        margin-bottom: 0.5rem;
      }
    }

    &--verify {
      display: flex;
      align-items: flex-end;
      gap: 0.5rem;
      i {
        font-size: 1.6rem;
        color: $text-light;
      }

      a {
        font-size: 0.9rem;
        text-decoration: none;
        border-bottom: 1px solid $link-color;
        margin-bottom: 0.1rem;
        color: $link-color;

        &:hover {
          color: $link-color;
        }
      }
    }
  }

  &__description {
    width: 68%;
    color: $text-medium;
    display: flex;
    margin-bottom: 2rem;

    svg {
      font-size: 0.8rem;
      color: $red;
      cursor: pointer;
    }
  }

  &__tabs {
    ul {
      display: flex;
      gap: 2.5rem;
      padding-left: 0;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $bg-color;
      position: relative;

      li {
        position: relative;
        cursor: pointer;
      }

      li.active {
        &::before {
          content: "";
          position: absolute;
          bottom: -8px;
          left: 0;
          /* background-color: green; */
          width: 100%;
          border-bottom: 2px solid $red;
        }
      }
    }

    &--panels {
      &-panel {
        display: none;
        padding: 0.9rem 0;
      }

      &-panel.active {
        display: block;
      }
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(100px, auto);
    gap: 20px;

    &--card {
      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.8rem;

        &--title {
          display: flex;
          align-items: center;

          h5 {
            margin-bottom: 0;
          }

          i {
            color: $text-light;
            font-size: 1.5rem;
            margin-bottom: 5px;
            margin-right: 0.5rem;
          }
        }

        &--pencil {
          color: $red;
          font-size: 1.2rem;
          margin-bottom: 10px;
          cursor: pointer;
        }
      }
    }

    &--contact {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-email {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;

        p {
          margin-bottom: 0;
        }

        i {
          margin-right: 0.5rem;
        }
      }

      &-emailId {
        line-height: 1.2rem;
      }

      &-count {
        background-color: $faint-red;
        color: $red;
        border-radius: 50%;
        padding: 5px;
        font-size: 0.7rem;
        font-weight: 600;
      }

      &-phone {
        display: flex;
        align-items: center;

        p {
          margin-bottom: 0;
        }

        i {
          margin-right: 0.5rem;
        }
      }

      &-details {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        &__card {
          display: flex;

          flex-direction: column;
          gap: 1.25rem;
        }

        &--header {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &__name {
            display: flex;
            align-items: center;
            gap: 0.9rem;
            p {
              margin-bottom: 0;
              color: $text-dark;
              font-weight: 500;
            }

            svg {
              font-size: 1rem;
              color: $text-light;
            }
          }

          &__actions {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: $red;
            font-size: 0.9rem;

            // svg {

            //   color: $text-light;
            // }
          }

          &__delete {
            font-size: 1rem;
            cursor: pointer;
          }

          &__pencil {
            font-size: 0.9rem;
            cursor: pointer;
          }
        }

        &__information {
          display: flex;
          align-items: center;
          gap: 0.9rem;

          svg {
            font-size: 1rem;
            color: $text-light;
          }

          &--email {
            display: flex;
            align-items: center;
            gap: 0.9rem;

            svg {
              width: 20%;
            }

            &-count {
              background-color: $light-red;
              color: $red;
              border-radius: 50%;
              padding: 4px;
              font-size: 0.8rem;
            }
          }

          &--info {
            display: flex;
            flex-wrap: wrap;
            word-break: break-word;

            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.about-contact {
  button {
    width: 100%;
  }

  &-form {
    width: 100%;

    label {
      font-size: 0.9rem;
      font-weight: 700;
      margin-bottom: 0.3rem;
    }

    input {
      width: 100%;
      display: flex;
      align-items: center;
      outline: none;
      border: none;
      background-color: $bg-color;
      padding: 10px 10px 10px 15px;
      border-radius: 0.5rem;
      margin: 0.9rem 0;

      &:not(:first-child) {
        margin-top: 0;
      }

      &:focus,
      :active,
      :focus-visible {
        border: none;
      }
    }
  }

  &-form-input-box {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
