/* CSS reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

.button {
  cursor: pointer;
  background-color: $black;
  color: $white;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;

  svg {
    margin-right: 0.8rem;
  }
}

.light-red-button {
  cursor: pointer;
  background-color: $light-red;
  color: $red;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;

  svg {
    margin-right: 0.8rem;
  }
}

.dark-red-button {
  cursor: pointer;
  background-color: $red;
  color: $light-red;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;

  svg {
    margin-right: 0.8rem;
  }
}

.offcanvas {
  padding: 1.2rem;

  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    svg {
      font-size: 2rem;
      cursor: pointer;
    }

    h3 {
      font-size: 2rem;
      margin-bottom: 0;
    }
  }
}

.form-input-box {
  width: 100%;
  margin-bottom: 1.5rem;

  label {
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
  }

  input {
    width: 100%;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    background-color: $bg-color;
    padding: 10px 10px 10px 15px;
    border-radius: 0.5rem;
    margin: 0.9rem 0;

    &:not(:first-child) {
      margin-top: 0;
    }

    &:focus,
    :active,
    :focus-visible {
      border: none;
    }
  }
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
